// Colors
$primary:hsl(215, 51%, 70%);
$secondary:hsl(178, 100%, 50%);
$neutral1: hsl(217, 54%, 11%);
$neutral2:hsl(216, 50%, 16%);
$neutral3:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);

// viewport
$mobile: 375px;
$desktop: 1440px;

//Typography
$heading: 24px;
$paragraph: 18px;
